---
import { Image } from "astro:assets";
import Link from "@components/ui/Link.astro";

import { basics } from "@data";

interface Props {
    baseUrl: "/" | "/who-we-are";
    slideInDownClass?: "slide__in-down";
}

const { baseUrl, slideInDownClass } = Astro.props;
const { name, logo } = basics;
---

<nav id="navbar" class:list={["navbar", slideInDownClass]}>
    <div class="navbar__brand">
        <a href="/#" aria-label={`Ir a la página principal de ${name}`}>
            <Image src={logo} alt={`Logo de ${name}`} width={62} height={49} />
        </a>
        <button
            id="menu-btn"
            type="button"
            aria-label="Abrir menú de navegación"
            aria-expanded="false"
            aria-controls="nav-list"
        >
            <span style="--index: 3"></span>
            <span style="--index: 2"></span>
            <span style="--index: 1"></span>
        </button>
    </div>
    <ul id="nav-list">
        <li>
            <Link href="/#" aria-label={`Ir a la página principal de ${name}`}>Home</Link>
        </li>
        <li data-link="about-us">
            <Link href="/who-we-are#about-us" aria-label={`Ir a la sección Sobre nosotros de ${name}`}>
                Sobre nosotros
            </Link>
        </li>
        <li data-link="testimonies">
            <Link href="/who-we-are#testimonies" aria-label={`Ir a la sección Testimonios de ${name}`}>Testimonios</Link
            >
        </li>
        <li data-link="our-team">
            <Link href="/who-we-are#our-team" aria-label={`Ir a la sección Nuestro equipo de ${name}`}>
                Nuestro equipo
            </Link>
        </li>
    </ul>
    <div class="navbar__actions">
        <Link variant="primary" href="/#products" aria-label={`Ir a la sección Productos de ${name}`}>Productos</Link>
        <Link variant="secondary" href={`${baseUrl}#contact-us`} aria-label={`Ir a la sección Contacto de ${name}`}>
            Contacto
        </Link>
    </div>
</nav>
<div id="overlay" class="overlay"></div>

<style is:global>
    .navbar > .navbar__actions > a {
        flex: 1;
    }

    #banner li:first-child .link::before {
        left: 0;
        width: 100%;
    }

    @media screen and (width <= 480px) {
        .navbar > .navbar__actions > a.secondary {
            display: none;
        }

        .navbar.open > .navbar__actions > a.secondary {
            display: flex;
        }
    }
</style>

<style>
    .navbar {
        width: min(100%, var(--max-width));
        display: flex;
        align-items: stretch;
        gap: 2rem;
        color: var(--neutral-900);
        transition:
            width 0.3s ease-in-out,
            padding 0.2s ease-in-out,
            background-color 0.2s ease-in-out,
            color 0.2s ease-in-out;
    }

    .navbar.on__dark-bg {
        color: var(--neutral-50);
    }

    /* .navbar.on__dark-bg > .navbar__brand > a > img {
        filter: brightness(0) invert(1);
    } */

    .navbar.slide__in-down {
        animation: slideInDown 0.5s ease-in-out;
    }

    .navbar > .navbar__brand {
        display: flex;
        align-items: center;
        gap: 1rem;
        margin-right: auto;
    }

    .navbar > .navbar__brand > a {
        display: flex;
    }

    .navbar > .navbar__brand > button {
        display: none;
    }

    .navbar > .navbar__brand > a > img {
        object-fit: contain;
    }

    .navbar > ul {
        display: flex;
        align-items: center;
        gap: 1rem;
    }

    .navbar > .navbar__actions {
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        gap: 1rem;
    }

    .navbar + .overlay {
        position: fixed;
        inset: 0;
        background-color: rgba(0, 0, 0, 0.5);
        opacity: 0;
        transition: opacity 0.3s ease-in-out;
        z-index: 997;
        pointer-events: none;
    }

    /* NAVBAR OUT OF BANNER */

    .navbar.out__banner {
        position: fixed;
        top: 0;
        left: 50%;
        transform: translateX(-50%);
        padding-block: 0.5rem;
        background-color: var(--neutral-50);
        color: var(--neutral-900);
        border-radius: none;
        border-bottom: 1px solid var(--neutral-300);
    }

    /* .navbar.out__banner > .navbar__brand > a > img,
    .navbar.navbar.open > .navbar__brand > a > img {
        filter: none;
    } */

    @media screen and (width > 1542px) {
        .navbar.out__banner::before,
        .navbar.out__banner::after {
            content: "";
            position: absolute;
            bottom: -1px;
            height: 100%;
            width: 100%;
            border-bottom: 1px solid var(--neutral-300);
            background-color: var(--neutral-50);
        }

        .navbar.out__banner::before {
            left: 100%;
        }

        .navbar.out__banner::after {
            right: 100%;
        }
    }

    @media screen and (width <= 1542px) {
        .navbar.out__banner {
            padding-inline: 1rem;
        }
    }

    @media screen and (width <= 864px) {
        .navbar > .navbar__brand > button {
            display: flex;
            width: 36px;
            height: 24px;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            background-color: transparent;
            border: none;
        }

        .navbar > .navbar__brand > button > span {
            background-color: var(--neutral-900);
            width: calc(var(--index) * 33.33%);
            height: 3px;
            border-radius: var(--border-radius-out);
            transition:
                width 0.9s ease-in-out,
                transform 0.9s ease-in-out,
                opacity 0.9s ease-in-out,
                background-color 0.6s ease-in-out;
        }

        .navbar.on__dark-bg > .navbar__brand > button > span {
            background-color: var(--neutral-50);
        }

        .navbar > ul {
            display: none;
            padding-block: 1rem;
            border-top: 1px solid var(--neutral-300);
        }

        /* NAVBAR OPEN */

        .navbar.open {
            padding: 1rem;
            position: fixed;
            top: 0;
            left: 0;
            width: auto;
            height: 100dvh;
            flex-direction: column;
            align-items: start;
            gap: 1rem;
            background-color: var(--neutral-50);
            color: var(--neutral-900);
            border-radius: 0 var(--border-radius-out) var(--border-radius-out) 0;
            z-index: 998;
        }

        .navbar.open.out__banner {
            transform: none;
        }

        .navbar.open > .navbar__brand {
            width: 100%;
        }

        .navbar.open > .navbar__brand > button {
            margin-left: auto;
        }

        .navbar.open > .navbar__brand > button > span {
            background-color: var(--neutral-900);
            width: 75%;
        }

        .navbar.open > .navbar__brand > button > span:nth-child(1) {
            transform: translateX(12px) translateY(10.5px) rotate(45deg);
        }

        .navbar.open > .navbar__brand > button > span:nth-child(2) {
            opacity: 0;
        }

        .navbar.open > div > button > span:nth-child(3) {
            transform: translateX(12px) translateY(-10.5px) rotate(-45deg);
        }

        .navbar.open > ul {
            width: 100%;
            display: flex;
            flex-direction: column;
            flex: 1;
            align-items: start;
        }

        .navbar.open > ul > li {
            width: 100%;
        }

        .navbar.open + .overlay {
            opacity: 1;
            pointer-events: visible;
        }

        /* NAVBAR OUT OF BANNER */
        .navbar.out__banner > .navbar__brand > button > span {
            background-color: var(--neutral-900);
        }
    }

    @keyframes slideInDown {
        from {
            transform: translateY(-700px);
            opacity: 0;
        }
        to {
            transform: translateY(0);
            opacity: 1;
        }
    }
</style>
