---
import CloseIcon from "@components/icons/Close.astro";
import Logo from "@components/icons/Logo.astro";
import MenuIcon from "@components/icons/Menu.astro";
import Link from "@components/ui/Link.astro";

import { basics } from "@data";

interface Props {
  isPopover?: boolean;
  className?: "open";
}

const { name } = basics;
const { isPopover, className } = Astro.props;
const pathname = Astro.url.pathname;
const popoverId = "nav-popover";

const menuItems = [
  { href: "/#", label: "Home", aria: `Ir a la página principal de ${name}` },
  {
    href: "/who-we-are#about-us",
    label: "Sobre Nosotros",
    aria: `Ir a la sección Sobre Nosotros de ${name}`,
    dataLink: "about-us",
  },
  {
    href: "/who-we-are#testimonies",
    label: "Testimonios",
    aria: `Ir a la sección Testimonios de ${name}`,
    dataLink: "testimonies",
  },
  {
    href: "/who-we-are#our-team",
    label: "Nuestro Equipo",
    aria: `Ir a la sección Nuestro Equipo de ${name}`,
    dataLink: "our-team",
  },
];

const menuActions = [
  {
    href: "/#products",
    label: "Productos",
    aria: `Ir a la sección Productos de ${name}`,
    variant: "primary",
  },
  {
    href: `${pathname}#contact-us`,
    label: "Contacto",
    aria: `Ir a la sección Contacto de ${name}`,
    variant: "secondary",
  },
];
---

<nav id={isPopover ? popoverId : undefined} class={className} popover={isPopover ? "" : undefined}>
  <div class="brand">
    <a href="/#" aria-label={`Ir a la página principal de ${name}`} title={`Ir a la página principal de ${name}`}>
      <Logo height={45} class="logo" />
    </a>
    {
      !isPopover ? (
        <button title="Abrir menú de navegación" aria-label="Abrir menú de navegación" popovertarget={popoverId}>
          <MenuIcon width={32} class="menu__icon" />
        </button>
      ) : (
        <button
          title="Cerrar menú de navegación"
          aria-label="Cerrar menú de navegación"
          popovertarget={popoverId}
          popovertargetaction="hide"
        >
          <CloseIcon width={24} class="close__icon" />
        </button>
      )
    }
  </div>
  {!isPopover && <div class="separator" />}
  <div class="menu__container">
    <ul>
      {
        menuItems.map(({ href, label, aria, dataLink }) => (
          <li data-link={dataLink}>
            <Link href={href} aria-label={aria}>
              {label}
            </Link>
          </li>
        ))
      }
    </ul>
    <div>
      {
        menuActions.map(({ href, label, aria, variant }) => (
          <Link variant={variant as "primary" | "secondary"} href={href} aria-label={aria}>
            {label}
          </Link>
        ))
      }
    </div>
  </div>
</nav>

<!-- <style is:global>
  .banner > nav:not(.slide__in--down) {
    animation: slideInDown 0.5s ease-in-out;
  }

  .banner > nav:is(.open, .closing) {
    padding: 1rem;
  }

  .banner > nav:not(.out__banner) > .menu__container > ul > li:first-child > .link::before {
    left: 0;
    width: 100%;
  }
</style> -->

<style>
  nav {
    display: flex;
    justify-content: space-between;
    gap: 2rem;
    width: min(100%, var(--max-width));
    background-color: red;
  }

  .brand {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    background-color: rebeccapurple;
  }

  .brand > :is(button, a) {
    display: flex;
  }

  .brand > a > .logo {
    object-fit: contain;
  }

  .brand > a > .logo,
  .brand > button > .menu__icon {
    color: light-dark(var(--neutral-900), var(--neutral-50));
  }

  .menu__container {
    display: flex;
    align-items: center;
    gap: 1.5rem;
    background-color: blue;
  }

  .menu__container > :is(ul, div) {
    display: flex;
    align-items: center;
    gap: 1rem;
  }

  /* OPEN NAV */

  nav.open {
    flex-direction: column;
    width: min(350px, 75%);
    height: 100dvh;
    background-color: var(--neutral-50);
    border-top-right-radius: var(--border-radius-out);
    border-bottom-right-radius: var(--border-radius-out);
    color-scheme: light;
  }

  nav.open > .brand {
    justify-content: space-between;
  }

  nav.open > .menu__container,
  nav.open > .menu__container > ul {
    flex-direction: column;
    align-items: flex-start;
  }

  nav.open > .menu__container {
    gap: 2rem;
  }

  nav.open > .menu__container > ul {
    gap: 0.5rem;
    background-color: red;
  }

  nav.open > .menu__container > div {
    width: 100%;
    background-color: red;
  }
</style>
