---
import MainSection from "@components/layout/MainSection.astro";
import OurTeamCard from "@components/sections/our-team/OurTeamCard.astro";
import { team } from "@data";
---

<MainSection class="our__team" id="our-team">
  <header>
    <h2>Nuestro Equipo</h2>
    <p>
      Nuestro equipo, comprometido con la calidad y el bienestar, trabaja con dedicación para ofrecer productos lácteos
      frescos y saludables, cuidando cada paso del proceso.
    </p>
  </header>
  {
    team.map(({ name, image, role, gridArea }, index) => (
      <OurTeamCard index={index} name={name} image={image} role={role} gridArea={gridArea} />
    ))
  }
</MainSection>

<style>
  .our__team {
    display: grid;
    grid-auto-columns: 1fr;
    grid-auto-flow: row;
  }

  .our__team > header {
    grid-area: text;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
    text-align: center;
  }

  @media screen and (width > 1024px) {
    .our__team {
      grid-template-columns: repeat(12, 1fr);
      grid-template-rows: repeat(11, 1fr);
      grid-template-areas:
        ". . . . staffImage1 staffImage1 staffImage1 . . . . ."
        ". . . . staffImage1 staffImage1 staffImage1 . . . staffImage2 staffImage2"
        ". . . . staffImage1 staffImage1 staffImage1 . . . staffImage2 staffImage2"
        "staffImage5 staffImage5 . text text text text text text . staffImage2 staffImage2"
        "staffImage5 staffImage5 . text text text text text text . . ."
        "staffImage5 staffImage5 . text text text text text text . . ."
        "staffImage5 staffImage5 . text text text text text text . . ."
        ". . . . . . . . staffImage4 staffImage4 staffImage4 ."
        ". . . staffImage3 staffImage3 . . . staffImage4 staffImage4 staffImage4 ."
        ". . . staffImage3 staffImage3 . . . staffImage4 staffImage4 staffImage4 ."
        ". . . staffImage3 staffImage3 . . . . . . .";
    }
  }

  @media screen and (width <= 1024px) {
    .our__team {
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: auto;
      grid-template-areas:
        "text text"
        "staffImage1 staffImage2"
        "staffImage1 staffImage4"
        "staffImage3 staffImage4"
        "staffImage3 staffImage5";
    }
  }

  @media screen and (width <= 480px) {
    .our__team {
      display: flex;
      flex-direction: column;
      gap: 1rem;
    }
  }
</style>
