---
import WhatsappIcon from "@icons/WhatsappIcon.astro";
import FacebookIcon from "@icons/FacebookIcon.astro";
import InstagramIcon from "@icons/InstagramIcon.astro";
import { Image } from "astro:assets";
import { getYear } from "@scripts/utils/handleDates";

import { basics } from "@data";

interface Props {
    baseUrl: "/" | "/who-we-are";
}

const { baseUrl } = Astro.props;
const { name, slogan, logo, socialNetworks } = basics;

const SOCIAL_NETWORKS: Record<string, string | any> = {
    Whatsapp: WhatsappIcon,
    Facebook: FacebookIcon,
    Instagram: InstagramIcon,
};
---

<footer>
    <section class="footer__content">
        <div>
            <a href="/#" aria-label={`Ir a la página principal de ${name}`}>
                <Image src={logo} alt={`Logo de ${name}`} width={120} height={89} />
            </a>
            <p>{slogan}</p>
        </div>
        <nav>
            <div>
                <h2>Empresa</h2>
                <ul>
                    <li>
                        <a href="/#" aria-label={`Ir a la página principal de ${name}`}>Home</a>
                    </li>
                    <li>
                        <a href="/who-we-are#about-us" aria-label={`Ir a la sección Sobre nosotros de ${name}`}>
                            Sobre nosotros
                        </a>
                    </li>
                    <li>
                        <a href="/#products" aria-label={`Ir a la sección Nuestros productos de ${name}`}>
                            Nuestros productos
                        </a>
                    </li>
                    <li>
                        <a href="/who-we-are#testimonies" aria-label={`Ir a la sección Testimonios de ${name}`}>
                            Testimonios
                        </a>
                    </li>
                    <li>
                        <a href="/who-we-are#our-team" aria-label={`Ir a la sección Nuestro equipo de ${name}`}>
                            Nuestro equipo
                        </a>
                    </li>
                    <li>
                        <a href={`${baseUrl}#FAQ`} aria-label={`Ir a la sección Preguntas frecuentes de ${name}`}>
                            Preguntas frecuentes
                        </a>
                    </li>
                    <li>
                        <a href={`${baseUrl}#contact-us`} aria-label={`Ir a la sección Contáctanos de ${name}`}>
                            Contáctanos
                        </a>
                    </li>
                </ul>
            </div>
            <div>
                <h2>Legal</h2>
                <ul>
                    <li>
                        <a href="/privacy-policy" aria-label={`Ir a la página de Política de Privacidad de ${name}`}>
                            Privacidad
                        </a>
                    </li>
                    <li>
                        <a
                            href="/terms-and-conditions"
                            aria-label={`Ir a la página de Términos y Condiciones de ${name}`}
                        >
                            Términos
                        </a>
                    </li>
                </ul>
            </div>
        </nav>
    </section>
    <div></div>
    <section class="footer__info">
        <p translate="no">
            © {getYear(new Date())}
            {name}. <span translate="yes">Todos los derechos reservados.</span>
        </p>
        <address>
            {
                socialNetworks.map(({ network, url }) => {
                    const Icon = SOCIAL_NETWORKS[network];
                    return (
                        <a
                            href={url}
                            target="_blank"
                            rel="noopener noreferrer"
                            aria-label={`Ir a la página de ${network} de ${name}`}
                        >
                            <Icon width={24} height={24} color="var(--neutral-50)" />
                        </a>
                    );
                })
            }
        </address>
    </section>
</footer>

<style>
    footer {
        width: 100%;
        padding: calc(44px + 2rem) 1rem;
        background-color: var(--primary-900);
        color: var(--neutral-50);
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 2rem;
    }

    footer > div {
        height: 1px;
        width: min(100%, var(--max-width));
        background-color: var(--neutral-50);
    }

    footer > section {
        width: min(100%, var(--max-width));
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        gap: 2rem;
    }

    /* FOOTER CONTENT */

    .footer__content > div {
        display: flex;
        flex-direction: column;
        gap: 1rem;
        flex: 1;
    }

    .footer__content > div > a,
    .footer__content > ul > li > a {
        display: flex;
    }

    .footer__content > div > a {
        width: fit-content;
    }

    .footer__content > div > a > img {
        width: 120px;
        height: 89px;
        object-fit: contain;
        filter: brightness(0) invert(1);
    }

    .footer__content > nav {
        display: flex;
        flex-wrap: wrap;
        gap: 2rem;
    }

    .footer__content > nav > div,
    .footer__content > nav > div > ul {
        display: flex;
        flex-direction: column;
    }

    .footer__content > nav > div {
        gap: 0.75rem;
    }

    .footer__content > nav > div > h2 {
        font-size: var(--text-size-small);
    }

    .footer__content > nav > div > ul {
        gap: 0.25rem;
    }

    .footer__content > nav > div > ul > li > a::before {
        content: "";
        position: absolute;
        bottom: 0;
        left: 50%;
        width: 0;
        height: 1px;
        background-color: var(--neutral-50);
        transition:
            left 0.3s ease-in-out,
            width 0.3s ease-in-out;
    }

    .footer__content > nav > div > ul > li > a {
        position: relative;
        color: var(--neutral-500);
    }

    .footer__content > nav > div > ul > li > a:hover::before {
        width: 100%;
        left: 0;
    }

    /* FOOTER INFO */

    .footer__info > address {
        display: flex;
        gap: 1rem;
    }

    .footer__info > address > a {
        display: flex;
        transition: scale 0.3s ease-in-out;
    }

    .footer__info > address > a:hover {
        scale: 1.1;
    }

    @media screen and (width <= 650px) {
        .footer__content,
        .footer__content > div,
        .footer__content > nav,
        .footer__content > nav > div,
        .footer__content > nav > div > ul {
            align-items: center;
        }

        .footer__info > address {
            justify-content: center;
        }

        :is(footer > section, .footer__content > nav) {
            flex-direction: column;
        }

        :is(.footer__content > div, .footer__info > p) {
            text-align: center;
        }
    }
</style>
