---
import Image from "astro/components/Image.astro";

type Props = {
    index: number;
    name: string;
    image: { src: string; alt: string };
    role: string;
    gridArea: string;
};

const { index, name, image, role, gridArea } = Astro.props;
---

<article class="our__team-card">
    <figure>
        <Image src={image.src} alt={image.alt} width={200} height={200} />
        <figcaption>{image.alt}</figcaption>
    </figure>
    <div>
        <h6>{name}</h6>
        <p>{role}</p>
    </div>
</article>

<style define:vars={{ index, gridArea }}>
    .our__team-card {
        padding: 1rem;
        border-radius: var(--border-radius-out);
        overflow: hidden;
        position: relative;
        color: var(--neutral-50);
        grid-area: var(--gridArea);
    }

    .our__team-card > figure > img {
        position: absolute;
        inset: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
        scale: 1.05;
        transition:
            scale 0.3s ease-in-out,
            filter 0.3s ease-in-out;
    }

    .our__team-card > div {
        position: absolute;
        width: calc(100% - 2rem);
        border-radius: var(--border-radius-in);
        padding: 0.5rem;
        transition: bottom 0.3s ease-in-out;
        z-index: 1;
    }

    .our__team-card > div::before {
        content: "";
        position: absolute;
        inset: 0;
        background-color: var(--glass-color);
        backdrop-filter: var(--blur-effect);
        z-index: -1;
        border-radius: inherit;
    }

    .our__team-card > div > p {
        font-size: 0.875rem;
    }

    @media screen and (width > 1024px) {
        .our__team-card {
            animation: scaleShift 2.5s infinite alternate calc(var(--index) * 0.5s) ease-in-out;
        }

        .our__team-card:hover {
            animation-play-state: paused;
        }

        .our__team-card:hover > figure > img {
            scale: 1;
            filter: brightness(0.6);
        }

        .our__team-card > div {
            bottom: -100%;
        }

        .our__team-card:hover > div {
            bottom: 1rem;
        }

        @keyframes scaleShift {
            to {
                scale: 1.05;
            }
        }
    }

    @media screen and (width <= 1024px) {
        .our__team-card {
            min-height: 300px;
            animation: revealTeamCard linear both;
            animation-timeline: view();
            animation-range: entry 15% cover 20%;
        }

        .our__team-card > figure > img {
            scale: 1;
            filter: brightness(0.6);
        }

        .our__team-card > div {
            bottom: 1rem;
        }

        @keyframes revealTeamCard {
            from {
                opacity: 0;
                transform: translateY(50%);
            }
            to {
                opacity: 1;
                transform: translateY(0);
            }
        }
    }

    @media screen and (width <= 480px) {
        .our__team-card {
            aspect-ratio: 1 / 1;
            min-height: auto;
        }
    }
</style>
