---
import AboutUsCard from "@components/sections/about-us/AboutUsCard.astro";
import MainSection from "@components/layout/MainSection.astro";

import { aboutUsSection } from "@data";

const { title, description, identities } = aboutUsSection;
---

<MainSection id="about-us">
    <header>
        <h2>{title}</h2>
        <p>{description}</p>
    </header>
    <div>
        {
            identities.map(({ title, content, image }, index) => (
                <AboutUsCard
                    number={(index + 1).toString().padStart(2, "0")}
                    title={title}
                    content={content}
                    image={image}
                />
            ))
        }
    </div>
</MainSection>

<style>
    header {
        text-align: center;
        margin-bottom: 4rem;
    }

    div {
        display: flex;
        flex-direction: column;
        gap: 5rem;
        overflow: clip;
    }

    @media screen and (width <= 1000px) {
        header {
            margin-bottom: 2rem;
        }

        div {
            gap: 3rem;
        }
    }

    @media screen and (width <= 700px) {
        header {
            margin-bottom: 1rem;
        }

        div {
            gap: 2rem;
        }
    }
</style>
