---
import InputBox from "@components/InputBox.astro";
import MainSection from "@components/MainSection.astro";
import LocationIcon from "@icons/LocationIcon.astro";
import PhoneIcon from "@icons/PhoneIcon.astro";
import EmailIcon from "@icons/EmailIcon.astro";
import ContactLink from "@components/ContactLink.astro";
import Button from "@components/Button.astro";

import { basics, contactUsSection } from "@data";
import { contactFields } from "@scripts/sections/handleContactFields";

const { email, phone, address } = basics;
const { title, description, addressLink, addressMapLink, schedules } = contactUsSection;
const {
    name: nameField,
    lastName: lastNameField,
    email: emailField,
    subject: subjectField,
    message: messageField,
} = contactFields;
---

<MainSection id="contact-us">
    <article class="contact__info">
        <header>
            <h2>{title}</h2>
            <p>{description}</p>
        </header>
        <div>
            <div>
                <h6>Información de contacto</h6>
                <address>
                    <ContactLink href={addressLink} text={address} aria-label="Ver dirección en Google Maps">
                        <LocationIcon width={24} height={24} color="var(--neutral-900)" />
                    </ContactLink>
                    <ContactLink href={`tel:${phone.trim()}`} text={phone} aria-label={`Llamar al número ${phone}`}>
                        <PhoneIcon width={24} height={24} color="var(--neutral-900)" />
                    </ContactLink>
                    <ContactLink href={`mailto:${email}`} text={email} aria-label={`Enviar un correo a ${email}`}>
                        <EmailIcon width={24} height={24} color="var(--neutral-900)" />
                    </ContactLink>
                </address>
            </div>
            <div>
                <h6>Horario</h6>
                <ul>
                    {
                        schedules.map(({ day, hours }) => (
                            <li>
                                {day}: {hours}
                            </li>
                        ))
                    }
                </ul>
            </div>
        </div>
        <iframe
            src={addressMapLink}
            loading="lazy"
            allowfullscreen=""
            referrerpolicy="no-referrer-when-downgrade"
            title="Mapa de la ubicación de El Torito Productos Lácteos"
        >
        </iframe>
    </article>
    <article class="contact__form">
        <h5>Ponte en contacto con nosotros</h5>
        <form id="contact-form">
            <InputBox name={nameField.name} label={nameField.label}>
                <input
                    id={nameField.name}
                    type="text"
                    name="name"
                    placeholder=""
                    minlength={nameField.minLength}
                    maxlength={nameField.maxLength}
                    pattern={nameField.pattern.source}
                    required
                />
            </InputBox>
            <InputBox name={lastNameField.name} label={lastNameField.label}>
                <input
                    id={lastNameField.name}
                    type="text"
                    name="lastName"
                    placeholder=""
                    minlength={lastNameField.minLength}
                    maxlength={lastNameField.maxLength}
                    pattern={lastNameField.pattern.source}
                    required
                />
            </InputBox>
            <InputBox name={emailField.name} label={emailField.label}>
                <input
                    id={emailField.name}
                    type="email"
                    name="email"
                    placeholder=""
                    minlength={emailField.minLength}
                    maxlength={emailField.maxLength}
                    pattern={emailField.pattern.source}
                    required
                />
            </InputBox>
            <InputBox name={subjectField.name} label={subjectField.label}>
                <input
                    id={subjectField.name}
                    type="text"
                    name="subject"
                    placeholder=""
                    minlength={subjectField.minLength}
                    maxlength={subjectField.maxLength}
                    pattern={subjectField.pattern.source}
                    required
                />
            </InputBox>
            <InputBox name={messageField.name} label={messageField.label} flex={messageField.flex}>
                <textarea
                    id={messageField.name}
                    name="message"
                    placeholder=""
                    minlength={messageField.minLength}
                    maxlength={messageField.maxLength}
                    required></textarea>
            </InputBox>
            <Button type="submit" aria-label="Enviar mensaje de contacto">Enviar</Button>
        </form>
    </article>
</MainSection>

<style>
    :global(#contact-us) {
        flex-direction: row;
        flex-wrap: wrap;
        gap: 2rem;
    }

    article:is(.contact__info, .contact__form) {
        display: flex;
        flex-direction: column;
        gap: 1.5rem;
    }

    /* CONTACT INFO */

    .contact__info {
        flex: 2.5 400px;
    }

    .contact__info > header,
    .contact__info > div > div,
    .contact__info > div > div > address,
    .contact__info > div > div > ul {
        display: flex;
        flex-direction: column;
    }

    .contact__info > header {
        gap: 0.25rem;
    }

    .contact__info > header > p {
        max-width: 100%;
    }

    .contact__info > div {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        gap: 2rem;
    }

    .contact__info > div > div {
        gap: 0.75rem;
    }

    .contact__info > div > div > address,
    .contact__info > div > div > ul {
        gap: 0.25rem;
    }

    .contact__info > iframe {
        border: none;
        border-radius: var(--border-radius-out);
        flex: 1;
        width: 100%;
        min-height: 350px;
    }

    /* CONTACT FORM */

    .contact__form {
        flex: 1 300px;
    }

    .contact__form > h5 {
        text-align: center;
    }

    .contact__form > form {
        display: flex;
        flex-direction: column;
        gap: 1rem;
        flex: 1;
    }

    @media screen and (width <= 480px) {
        .contact__info > iframe {
            min-height: 250px;
        }
    }
</style>
