---
import MainSection from "@components/MainSection.astro";
import ProductCard from "@components/ProductCard.astro";
import { productsSection } from "@data";

const { title, description, products } = productsSection;
---

<MainSection id="products">
    <header>
        <h2>{title}</h2>
        <p>{description}</p>
    </header>
    <div>
        {
            products.map(({ id, name, image, weight, category }) => (
                <ProductCard id={id} name={name} image={image} weight={weight} category={category} />
            ))
        }
    </div>
</MainSection>

<style>
    header {
        text-align: center;
    }

    div {
        flex: 1;
        display: grid;
        gap: 1rem;
    }

    @media screen and (width > 1024px) {
        div {
            grid-template-columns: repeat(8, 1fr);
            grid-template-rows: repeat(6, 150px);
            grid-template-areas:
                "product1 product1 product2 product2 product2 product3 product3 product3"
                "product1 product1 product2 product2 product2 product3 product3 product3"
                "product4 product4 product2 product2 product2 product5 product5 product5"
                "product4 product4 product2 product2 product2 product5 product5 product5"
                "product4 product4 product6 product6 product7 product7 product8 product8"
                "product4 product4 product6 product6 product7 product7 product8 product8";
        }
    }

    @media screen and (width <= 1256px) {
        div {
            grid-template-rows: repeat(6, 125px);
        }
    }

    @media screen and (768px <= width <= 1024px) {
        div {
            grid-template-columns: repeat(6, 1fr);
            grid-template-rows: repeat(5, 225px);
            grid-template-areas:
                "product1 product1 product2 product2 product2 product2"
                "product4 product4 product2 product2 product2 product2"
                "product4 product4 product3 product3 product6 product6"
                "product7 product7 product7 product7 product8 product8"
                "product7 product7 product7 product7 product5 product5";
        }
    }

    @media screen and (521px <= width <= 767px) {
        div {
            grid-template-columns: repeat(2, 1fr);
            grid-template-rows: repeat(10, 100px);
            grid-template-areas:
                "product1 product2"
                "product1 product2"
                "product3 product2"
                "product3 product4"
                "product3 product4"
                "product5 product6"
                "product5 product6"
                "product7 product6"
                "product7 product8"
                "product7 product8";
        }
    }

    @media screen and (width <= 520px) {
        div {
            grid-template-columns: 1fr;
            grid-template-rows: repeat(7, 1fr);
            grid-template-areas:
                "product1"
                "product2"
                "product3"
                "product4"
                "product5"
                "product6"
                "product7"
                "product8";
        }
    }
</style>
